.button {
  width: 100%;
  height: 56px;
  padding: 16px 32px;
  border: 1px solid;
  border-radius: 32px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.2s ease-out;

  &:disabled {
    cursor: auto;
  }
}

.contained {
  border-color: var(--background-brand);
  background-color: var(--background-brand);
  color: var(--text-invert);

  &:hover {
    border-color: var(--background-hover-primary);
    background-color: var(--background-hover-primary);
  }

  &:focus {
    border: 1px solid;
    border-color: var(--background-brand-extraLight);
  }

  &:disabled:not(.loading) {
    border-color: var(--background-brand-extraLight);
    background-color: var(--background-brand-extraLight);
  }
}

.text {
  border: none;
  background-color: var(--background-primary);
  color: var(--text-secondary);

  &:hover {
    background-color: var(--background-tertiary);
  }

  &:disabled:not(.loading) {
    color: var(--text-tertiary);
  }
}

.outlined {
  border-color: var(--border-light);
  background-color: var(--background-primary);
  color: var(--text-secondary);

  &:hover {
    background-color: var(--background-tertiary);
  }

  &:disabled:not(.loading) {
    border-color: var(--border-extraLight);
    color: var(--text-tertiary);
  }

  &.loading:before {
    border-top-color: var(--background-brand);
  }
}

.loading {
  position: relative;

  & span {
    color: transparent;
  }

  &:before {
    position: absolute;
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-top: 2px solid var(--border-light);
    border-right: 2px solid transparent;
    margin: 0;
    animation: 1s spin linear infinite;
    background: transparent;
    content: '';
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
