/*
  1. Use a more-intuitive box-sizing model.
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */

* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/*
    5. Improve media defaults
  */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

fieldset {
  min-width: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

/*
    6. Remove built-in form typography styles
  */

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

/*
    7. Avoid text overflows
  */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */

#root {
  isolation: isolate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

  /* display: none; <- Crashes Chrome on hover */
  appearance: none;
}
