.container {
  display: flex;
  width: 920px;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  text-align: start;
}

.fieldset {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.button_container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 40px;
  gap: 24px;
}
